.bigitems{
    display: inline-flex;
    width: 100%;
}
.form1{
    display: grid;
}
.filter{
    width: 17%;
    background-color: white;
    margin-top: 1%;
    padding-left: .5%;
    
}
.fliterbox{
    display:inline-grid;
}
.product-card{
    background-color: white !important;
}